# Python
__pycache__/
*.py[c]
*.pyo
*.pyd
*.egg
/.eggs/
.build/
 develop-eggs/
 eg/
 sdist/
 dist/
 *.egg-info/
 ./.installed.cfg
 /venv/
 env/
 .env/
 venv/
 env/
 .venv/

# Data
data/raw/SEN12MS-CR/*
data/interim/*
data/processed/**

# Models and Checkpoints
checkpoints/**/*

# Outputs
outputs/predictions/**
outputs/visualizations/**
outputs/error_maps/**
outputs/spectral_plots/**

# Notebooks
notebooks/**/*.ipynb

# Streamlit
.streamlit/

# Local config
configs/config.yaml